<div class="container">
    <section>
        <div>
            <h1 class="m-3">Houses</h1>
        </div>
    </section>

</div>
<section id="houseListings" class="row">
    <!-- <div class="col-12">
        <div class="row bg-light rounded shadow border border-dark">
            <div class="col-md-4 px-0">
                <img src="" alt="" class="img-fluid rounded-start house-picture">
            </div>
            <div class="col-md-8 p-3">
                <h2>ADOBE HOUSE GALORE</h2>
                <h3>$300</h3>
                <h3>Listed on 12/12/120</h3>
                <div class="d-flex">
                    <h4>Listed by sac</h4>

                </div>
                <p>bedrooms:</p>
                <p>bathrooms:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eius, sed quisquam eaque impedit
                    voluptatem ex
                    pariatur commodi dolorum sapiente.</p>
            </div>
        </div>
    </div> -->
</section>